/*
    Name: Kien Trung
    Date: 08.26.24
    Section: CSE 190e
    This is the style.css page for my portfolio of web development
    work. It is used by all pages in my portfolio to give the site
    a consistent look and feel.
*/

#logo {
    width: 140px;
    height: 68px;
}

#logo-bottom {
    width: 140px;
    height: 68px;
}

#title {
    justify-content: center;
}

.logo-name {
    display: flex;
    justify-content: left;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    color: aliceblue;
}


main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex-direction: column;
    background-color: black;
    padding: 20px;
    width: 500px;
    border-style: solid;
	border-color: #333d46;
	border-width: 0.75em;
	border-radius: 1em;
    color: aliceblue;
}

.doggo-snow {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.images {
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding: 20px;
    width: 1200px;
    border-style: solid;
	border-color: #333d46;
	border-width: 0.75em;
	border-radius: 1em;
    color: aliceblue;
}

html {
    background-color:rgb(37, 37, 39);
    background-size: 100%;
    width: 100%;
    height: 100%;
}


#doggo-snow {
    width: 220px;
    height: 400px;
}

footer {
    display: flex;
    align-items: flex-end;
    color: aliceblue;
}